.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600");
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif; }

.container-box {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1%; }

input {
  border: none;
  border-bottom: 1px solid #F3F3F3;
  width: 100%; }

header {
  padding: 2% 0;
  -webkit-box-shadow: 1px 1px 5px #9B9B9B;
  box-shadow: 1px 1px 5px #9B9B9B; }

header .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  color: #373D48;
  font-size: 2em; }

.logo span {
  font-weight: 100; }

.avatar {
  text-align: right; }

.avatar img {
  width: 25%;
  border-radius: 50%; }

/* *************** NAVEGACION  **************** */
nav {
  background: #373D48;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 3%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5%; }

nav ul li {
  display: inline-block;
  text-align: center; }

nav ul li a {
  color: white;
  font-size: .9em; }

nav ul li i {
  font-size: 1.5em;
  margin-bottom: 5px; }

/* *************** BUSQUEDA  **************** */
.busqueda {
  padding: 2%;
  font-weight: 500; }

.filtro {
  width: 100%;
  text-align: right; }

.titulos-secciones {
  color: #373D48; }

/* *************** PROMOCIONES  **************** */
.promociones {
  padding: 0 1%; }

.item-promociones {
  margin: 2% 0; }

.item-promociones .imagen {
  height: 180px;
  overflow: hidden; }

.item-promociones img {
  width: 100%;
  margin-bottom: 10px; }

.item-promociones .titulo {
  color: #373D48;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.2em; }

.item-promociones .tipo {
  color: #9B9B9B;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1em; }

.item-promociones .promociones {
  color: #29AA57;
  font-size: 1em; }

.item-promociones .detalles {
  color: #9B9B9B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.item-promociones .detalles .raiting {
  width: 50%;
  text-align: right; }

.item-promociones .detalles .raiting span {
  margin-left: 1%;
  font-size: .9em; }

.item-promociones .detalles .raiting i {
  font-size: .8em; }

footer {
  padding-top: 15%; }