body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* 
.logo{
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: nowrap ;
  justify-content: space-between;
}

.imagen2{
  border-radius: 50%;
  
}

.tituloBurrito{
  display: block;
  height: 50px;
  justify-content:center;
  background-color: black;
  color: white;
}

.imagenProgreso>img{
  width: 100%;
  height: 40px;
  
}

.imagenProgreso>h3{
  height: 0;
  
}

.botonPaga{
  width: 100%;
  height: 3em;
}

.container{
  display: flex;
  height: 100%;
  flex-direction:column;
  align-items:stretch;
  padding: 10px;
} */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600");
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif; }

.container-box {
  max-width: 1100px;
  margin: 0 auto;
 }

input {
  border: none;
  border-bottom: 1px solid #F3F3F3;
  width: 100%; }

header {
  padding: 3% 0;
  -webkit-box-shadow: 1px 1px 5px #9B9B9B;
  box-shadow: 1px 1px 5px #9B9B9B; }

header .container-header {
  /* padding: 4%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  
.logo {
  display: flex;
  align-self: center;
  color: #373D48;
  font-size: 2em; }

.logo span {
  font-weight: 100; }

.avatar {
  text-align: right; }

.avatar img {
  width: 25%;
  border-radius: 50%; }

  /* .logo {
    margin: 0;
    color: #373D48;
    height:70px;
    font-size: 2em; }
  
  .logo h3{
    margin: 0;
    display: flex;
    align-items: center;
  }

  .logo span {
    font-weight: 100; }
  
  .avatar {
    width: 20%;
    height: 90%;
    border-radius: 50%; 
    text-align: right; } */

/* *************** NAVEGACION  **************** */
nav {
  background: #373D48;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 3%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5%; }

nav ul li {
  display: inline-block;
  text-align: center; }

nav ul li a {
  color: white;
  font-size: .9em; }

nav ul li i {
  font-size: 1.5em;
  margin-bottom: 5px; }

/* *************** BUSQUEDA  **************** */
.busqueda {
  padding: 2%;
  font-weight: 500; }

.filtro {
  width: 100%;
  text-align: right; }

.titulos-secciones {
  color: #373D48; }

/* *************** PROMOCIONES  **************** */
.promociones {
  padding: 0 1%; }

.item-promociones {
  margin: 2% 0; }

.item-promociones .imagen {
  height: 180px;
  overflow: hidden; }

.item-promociones img {
  width: 100%;
  margin-bottom: 10px; }

.item-promociones .titulo {
  color: #373D48;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.2em; }

.item-promociones .tipo {
  color: #9B9B9B;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1em; }

.item-promociones .promociones {
  color: #29AA57;
  font-size: 1em; }

.item-promociones .detalles {
  color: #9B9B9B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.item-promociones .detalles .raiting {
  width: 50%;
  text-align: right; }

.item-promociones .detalles .raiting span {
  margin-left: 1%;
  font-size: .9em; }

.item-promociones .detalles .raiting i {
  font-size: .8em; }

footer {
  padding-top: 20%; }


  .blockButton{
    color: #29AA57;
  }